{% extends 'all.html' %}
{% load static %}
{% block content %}
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpcqthd55LQvyiDUBWolZ_S_isO_WyE6CF2A&s",
        alt="python", width="500px">
    <ul>
        <li><a href="http://127.0.0.1:8000/login/">Login</a></li>
        <li><a href="http://127.0.0.1:8000/register/">Register</a></li>
        <li><a href="http://127.0.0.1:8000/books/">Books</a></li>
        <li><a href="http://127.0.0.1:8000/authors/">Authors</a></li>
        <li><a href="http://127.0.0.1:8000/comments/">Comments</a></li>
        <li><a href="https://www.programiz.com/python-programming/online-compiler/">Python online complioner</a></li>
    </ul>    
    <h1>Functions are in this video<br> 
        <a href="http://YouTube.com"><u>YouTube</u></a>
        </h1>
        <h1> You can search on <br>
        <a href="http://Google.com"><U>Google</U></a>
        </h1>
        <h1>You can see other <br> <a href="http://Page.com"><u>Page</u></a></h1>
    <hr><br>
    </p><p><strong>
        <p>My g-mail account is: <span style="color: rgb(201, 225, 20);"><br><u>xamidovmuhammadjon748@gmail.com</u></span></p>
     
    </strong></p>
    <ul>
    <li><i>
      Python, ochiq manba dasturlash tillari orasida keng tarqalgan va mashhur til hisoblanadi. Bu yuqori darajadagi oson<br> va intuitiv sintaksisga ega bo'lib, bir qancha sohalarda ishlatiladi:<br><hr>

      Dasturlash: Python o'zining oson sintaksisiga ega bo'lib, dasturlashning ko'p qator sohalari uchun xilma-xil xilma-xil qo'llaniladi. U dasturlashga kirish uchun qulay va oson.<br><hr>
      
      Ma'lumotlar Analitikasi: Python keng qo'llaniladi ma'lumotlar analitikasi sohasida. Bu maqsadga mos kutubxona, masalan, Pandas, NumPy, va Matplotlib kabi kutubxonalar mavjud.<br><hr>
      
      Veb Dasturlash: Django va Flask kabi yaxshi bilan mashhur bo'lgan kutubxonalari bilan, Python veb dasturlashida ham keng qo'llaniladi.<br><hr>
      
      Kiber Xavfsizlik: Python xavfsizlik sohasida ham qo'llaniladi. Masalan, Pen-testing (sinov qilish) dasturlarini yaratishda va siber xavfsizlik analitikasi bo'yicha Python keng qo'llaniladi.<br><hr>
      
      Texnologiyalarni Avtomatlashtirish: Python, otomatlashtirish vazifalarini bajarish uchun juda qo'llaniladi. Masalan, Ansible va Puppet kabi vositalar Python asosida yaratilgan.<br>
    </i></li> </ul>
    <ul><p><li><b>
      Python tilining asosiy xususiyatlari quyidagilardir:<br><hr>
      <ul>
<li>
      Oson va Intuitiv: Python sintaksisi oson va yaxshi tushunchali bo'lib, yangi dasturchilar uchun ham o'rganishga qulaydir.</li>
      <li>
      Keng Qo'llanilish: Python dasturlash tili har xil sohalarda qo'llaniladi, masalan, veb dasturlash, ma'lumotlar analitikasi, otomatlashtirish, siber xavfsizlik, matematika va keng boshqa sohalarda.
    </li><li>
      Bog'liqlik: Python o'zida ko'p qo'llaniladigan kutubxonalar yig'indisiga ega. Bu kutubxonalar yordamida kompleks dasturlar va ilovalar yaratish oson va tez amalga oshiriladi.</li>
      <li>
      Boshqaruv Qo'llanishi: Python dasturlarida ob'ektga yo'naltirilgan, funksional va imperativ dasturlash usullari qo'llaniladi. Bu esa dasturlarni yozishda va tushunarli kod yaratishda yordam beradi.
    </li><li>
      Kommunitet: Python dasturchilar jamiyatida keng ko'lamli va yordamchi jamoa mavjud. Bu esa dasturchilar uchun qo'llanma, qo'llab-quvvatlash va o'rganish imkoniyatlarini oshiradi.
    </li></ul>
        
    </li></p>
    
    </ul>
    
    <h1>Online kursimizga qatnashish istagi borlar quyidagilarni to'ldirsin</h1>

    <form>
        <input type="text" placeholder="First name..." />
        <input type="text" placeholder="Last name..." />
        <input type="number" placeholder="Tel number..." />
        <p>
          <label for="email">Email</label>
          <input id="email" type="email" />
        </p>
        <p>
          <label for="text">Enter your level</label>
          <input id="text" type="text" />
        </p>

    <fieldset>
      <legend>Choose</legend>
      <form>
        <h1>Qaysi dasturlash tillarini bilasiz?</h1>
        <p>
          <label for="js">Java_Scipt</label>
          <input type="checkbox" id="java_script" />
        </p>
        <p>
          <label for="py">Python</label>
          <input type="checkbox" id="python" />
        </p>
        <p>
          <label for="C++">C++</label>
          <input type="checkbox" id="c++" />
        </p>

        <h1>Jinsi</h1>

        <p>
          <label for="male">Ayol</label>
          <input type="radio" id="male" name="jins" />
        </p>
        <p>
          <label for="female">Erkak</label>
          <input type="radio" id="female" name="jins" />
        </p>
        <h5><input type="submit" value="Yuborish" />
        <button>Send</button></h5>
      </form>
    </fieldset>

      </form>
    </fieldset>
{% endblock %}